/*ondas de radio*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f7d290;
}

body {
    font-size: 18px;
    color: #000;
}

header {
    background: #c78f40;
    color: #f4d8a7;
    padding: 1rem 0;
    text-align: center;
    background-image: url(fundo01.jpg);
}

header h1 {
    margin-bottom: 0.5rem;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li a{
    color: #f2dab1;
    text-decoration: none;
    transition: color 0.3s ease;
}

nav ul li a:hover{
    color: rgb(255, 255, 255);
    cursor: pointer;
}
section {
    padding: 2rem;
    margin: 1rem;
    background: #ffefd5;
    border-radius: 8px;
    box-shadow: 0 8px 16px #ffbc48;
    font-family: Arial, sans-serif;
}

section:hover {
  transform: translateX(5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

#descoberta {
  background-image: url('fundo02.jpg');
  background-size: cover;
  background-position: center;
  padding: 50px;
  color: rgb(0, 0, 0);
  text-overflow: ellipsis;
}

#biografia {
  background-image: url('fundo02.jpg');
  background-size: cover;
  background-position: center;
  padding: 50px;
  color: black;
}

#caracteristicas {
  background-image: url('fundo02.jpg');
  background-size: cover;
  background-position: center;
  padding: 50px;
  color: black;
  display: flex;
  flex-direction: row;
}

#aplicacoes {
  background-image: url('fundo02.jpg');
  background-size: cover;
  background-position: center;
  padding: 50px;
  color: black;
}

.container{
    max-width: 80%;
    margin:  0 auto;
}

h2 {
    margin-bottom: 1rem;
}

.cards {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    padding: 15px;
    overflow-x: scroll;
}

.card {
    max-width: 300px !important;
    min-width: 300px !important;
    background: #f3c16a;
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    justify-content: space-around;
    background: linear-gradient(to top, #ffb12c, #f2dab1);
    font-style: italic;
    font-family: Arial, sans-serif;
}

.card {
  font-size: 16px;
}


.card h5 {
 text-align: center;
 font-size: 15px;
}

.card h4{
 text-align: center;
 font-size: 15px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgb(0,0,0,0.1);
}

.card i{
    font-size: 1rem;
    color: #ffffff;
}

.cards::-webkit-scrollbar {
  width: 16px;
}

.cards::-webkit-scrollbar-track {
  background-color: #ffd17c;
  border-radius: 100px;
}

.cards::-webkit-scrollbar-thumb {
  background-color: #000000;
  border-radius: 100px;
}


